body {
    background-color: #fff8f0;
    font-family: 'McLaren';
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
}

/*Text styling*/
h1 {
    text-align: center;
    padding-bottom: 30px;
}

h3 {
    font-size: 25px;
}

p {
    font-size: 20px;
}

#webname {
    margin: 20px auto 10px auto;
    display: block;
    background-color: #FF8811;
    border-radius: 10px;
}

#socials {
    display: inline-flex;
    gap: 20px
}

.social-icon {
    cursor: pointer;
    background-color: #5AA7FF;
    color: #fff8f0;
    font-size: 40px;
    border: none;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.5s ease;
}

.social-icon:hover {
    background-color: #3f7ec7;
}

 /* Navigation */
nav {
    background-color: #5AA7FF;
    width: 100%;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 0;
}

nav ul{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 0;
}

nav ul li {
    margin-right: 15px;
    
}
nav ul li a {
    color: #fff8f0;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    transition: background-color 0.5s ease;
}

nav ul li a:hover {
    color: #c3bdb6;
    text-decoration: none;
}

nav .current-tab {
    background-color: #3f7ec7;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}



/*Content Scroll*/
.content {
    max-width: 78.5%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 15px;
}

.content > * {
    flex-shrink: 0;
    height: 350px;
    border-radius: 10px;
}

.carousel-left, .carousel-right {
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.carousel-left:hover, .carousel-right:hover {
    background-color: #3f7ec7;
}

.carousel-left {
    left: 200px;
}

.carousel-right {
    right: 200px;
}

/*Gallery*/
.gallery {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 25%;
    gap: 25px;
    text-align: center;
    justify-content: center; 
    margin: 0 auto; 
    width: fit-content;
}

.gallery img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.gallery-item:hover {
    transform: scale(1.05) 0.5s ease;
    cursor: pointer;
    box-shadow: #00000000 5px 15px 15px 5px;
}

.gallery-item {
    background-color: #F4D06F;
    height: 350px;
    width: 275px;
    padding-bottom: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 250px;
}

#added-list {
    margin-top: 25px;
}

button {
    cursor: pointer;
    background-color: #5AA7FF;
    color: #fff8f0;
    font-size: 20px;
    border: none;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.5s ease;
}

button:hover {
    background-color: #3f7ec7;
}

.see-more {
    display: block;
    margin: 20px auto;
}

.inactive {
    display: none;
}

.active {
    display: block;
}


/*Quiz Styling*/
#quiz {
    display: block;
    background-color: #F4D06F;
    border-radius: 10px;
    width: 70%;
    height: 400px;
    margin: 0 auto;
    text-align: center;
}

.quiz-form {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.question {
    font-size: 30px;
    text-align: center;
}

.answers {
    font-size: 20px;
}

.answers table {
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 20px;
}

.answers td {
    height: 100px;
    width: 300px;
    border: 2.5px solid #FF8811;
    border-radius: 10px;
    transition: background-color 0.5s ease;
}

.answers td:hover {
    background-color: #ff8811a9;
}
