body {
    background-color: #fff8f0;
    font-family: 'McLaren';
    max-width: 80%;
}
 /* Navigation */
nav {
    background-color: #5AA7FF;
    width: 100vw;
    font-size: 20px;
    border-radius: 10px;
}

nav ul{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 0;
}

nav ul li {
    margin-right: 15px;
    
}
nav ul li a {
    color: #fff8f0;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}

nav ul li a:hover {
    color: #c3bdb6;
    text-decoration: none;
    padding-left: 10px;
}

nav .current-tab {
    background-color: #3f7ec7;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

/*Text styling*/
h1 {
    text-align: center;
    padding-bottom: 30px;
}

#webname h2 {
    padding-bottom: 30px;
    margin: 20px 20px 10px 20px;
}

/*Gallery*/
.gallery {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 25%;
    gap: 25px;
    text-align: center;
    justify-content: center; 
    margin: 0 auto; 
}

.gallery img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.gallery-item:hover {
    transform: scale(1.05);
    transition: 0.5s;
    cursor: pointer;
    box-shadow: #00000000 5px 15px 15px 5px;
}

.gallery-item {
    background-color: #F4D06F;
    height: 350px;
    width: 275px;
    padding-bottom: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 250px;
}

button {
    background-color: #5AA7FF;
    color: #fff8f0;
    font-size: 20px;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

button:hover {
    background-color: #3f7ec7;
}

.see-more {
    display: block;
    margin: 20px auto;
}

.inactive {
    display: none;
}

.active {
    display: block;
}