*{
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-image: url(pawfectbg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'McLaren';
}
 /* Navigation */
nav {
    background-color: #F7F2EC;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}

nav ul{
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
    
}
nav a {
    height: 100%;
    color: #020100;
    text-decoration: none;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

nav a:hover {
    color: purple;
    background-color: #f0f0f0;
}

nav li:first-child {
    margin-right: auto;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.276);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
/*Text styling*/
h1 {
    text-align: center;
    padding-bottom: 30px;
}

/*#webname {
    margin: 20px 20px 10px 20px;
    display: block;
    background-color: #F7F2EC;
    border-radius: 10px;
    width: 100%;
}*/

/*Gallery*/
.gallery {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 25%;
    gap: 25px;
    text-align: center;
    justify-content: center; 
    margin: 0 auto; 
    width: fit-content;
}

.gallery img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.gallery-item:hover {
    transform: scale(1.05);
    transition: 0.5s;
    cursor: pointer;
    box-shadow: #00000000 5px 15px 15px 5px;
}

.gallery-item {
    background-color: #F4D06F;
    height: 350px;
    width: 275px;
    padding-bottom: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 250px;
}

#added-list {
    margin-top: 25px;
}

button {
    cursor: pointer;
    background-color: #5AA7FF;
    color: #fff8f0;
    font-size: 20px;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

button:hover {
    transition: background-color 0.5 ease-in;
    background-color: #3f7ec7;
}

.see-more {
    display: block;
    margin: 20px auto;
}

.inactive {
    display: none;
}

.active {
    display: block;
}