<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Gallery</title>
        <link rel="stylesheet" href="../../static/css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=McLaren&display=swap" rel="stylesheet">
    </head>
    <body>
        <div>
            <nav>
                <ul>
                    <li><a href="index.html">Main Page</a></li>
                    <li><a href="gallery.html">Look at your pet!</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="quiz.html">Find your Best Furiend</a></li>
                </ul>
            </nav>
        </div>
        
            <h1>Look at our lovable pets that need a home!</h1>
        <div class="gallery">
            <div class="gallery-item">
                <h3 class="pet-name">Pumpkin</h3>
                <img class="pet-image" src="https://images.pexels.com/photos/1805164/pexels-photo-1805164.jpeg" alt="Image from Valeria Boltneva from Pexels">
                <p class="pet-sum">Shiba Inu - Age 1 year</p>
            </div>
        <div class="gallery-item">
            <h3 class="pet-name">Shadow</h3>
            <img class="pet-image" src="https://images.pexels.com/photos/220938/pexels-photo-220938.jpeg" alt="Image from Pixabay from Pexels">
            <p class="pet-sum">Border Collie - Age 6 Months</p>
        </div>
        <div class="gallery-item">
            <h3 class="pet-name">Shadow</h3>
            <img class="pet-image" src="https://images.pexels.com/photos/220938/pexels-photo-220938.jpeg" alt="Image from Pixabay from Pexels">
            <p class="pet-sum">Border Collie - Age 6 Months</p>
        </div>
        <div class="gallery-item">
            <h3 class="pet-name">Shadow</h3>
            <img class="pet-image" src="https://images.pexels.com/photos/220938/pexels-photo-220938.jpeg" alt="Image from Pixabay from Pexels">
            <p class="pet-sum">Border Collie - Age 6 Months</p>
        </div>
        <div class="gallery-item">
            <h3 class="pet-name">Shadow</h3>
            <img class="pet-image" src="https://images.pexels.com/photos/220938/pexels-photo-220938.jpeg" alt="Image from Pixabay from Pexels">
            <p class="pet-sum">Border Collie - Age 6 Months</p>
        </div>
        <div class="gallery-item">
            <h3 class="pet-name">Shadow</h3>
            <img class="pet-image" src="https://images.pexels.com/photos/220938/pexels-photo-220938.jpeg" alt="Image from Pixabay from Pexels">
            <p class="pet-sum">Border Collie - Age 6 Months</p>
        </div>
        <div class="gallery-item">
            <h3 class="pet-name">Shadow</h3>
            <img class="pet-image" src="https://images.pexels.com/photos/220938/pexels-photo-220938.jpeg" alt="Image from Pixabay from Pexels">
            <p class="pet-sum">Border Collie - Age 6 Months</p>
        </div>
        <div class="gallery-item">
            <h3 class="pet-name">Shadow</h3>
            <img class="pet-image" src="https://images.pexels.com/photos/220938/pexels-photo-220938.jpeg" alt="Image from Pixabay from Pexels">
            <p class="pet-sum">Border Collie - Age 6 Months</p>
        </div>
</html>
