<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Gallery</title>
        <link rel="stylesheet" href="../../static/css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=McLaren&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/64f98c8be8.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!--<div id="webname">
            <h2>Pawfect Match</h2>
        </div>-->
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
        <div>
           <nav>
                <ul class="sidebar">
                    <li onclick=hideSidebar()><a class="current-tab" href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#b9a4db"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
                    <li><a href="gallery.html">Look for Your Pet!</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="quiz-intro.html">Find Your Pawfect Match</a></li>
                </ul>
                <ul>
                    <li><a class="current-tab" href="home.html">Pawfect Match</a></li>
                    <li class="hideOnMobile"><a href="gallery.html">Look for Your Pet!</a></li>
                    <li class="hideOnMobile"><a href="about.html">About Us</a></li>
                    <li class="hideOnMobile"><a href="quiz-intro.html">Find Your Pawfect Match</a></li>
                    <li class="menu-button" onclick=showSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#b9a4db"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
                </ul>
            </nav>
            <script>
                function showSidebar(){
                    const sidebar = document.querySelector('.sidebar')
                    sidebar.style.display = 'flex'
                }
                function hideSidebar(){
                    const sidebar = document.querySelector('.sidebar')
                    sidebar.style.display = 'none'
                }
            </script>
        </div>
            
        </div>
        
            <h1>Look at our lovable pets that need a home!</h1>
    <div id="calendar-space" class="inactive">
             </div>
        <div id="schedule-form" class="inactive">
            <div id="schedule-content">
                    <h3>Meet a pet</h3>
                    <p id="selected-date"></p>
                    <label for="pets">Who do you wanna meet?</label>
                    <select required name="pets" id="pick-pet">
                        
                    </select>
                    <br>
                    <label for="time">What time? Choose between 9AM to 5PM
                        <br> Either on the hour or half-hour
                    </label>
                    <input type="time" id="time" name="time" min="9:00" max="17:00">
                    <br>
                    <label for="name">What's your name?</label>
                    <input required type="text" id="name" name="name">
                    <br>
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email">
                    <br>
                    <label for="phone">Mobile Phone</label>
                    <input type="tel" id="phone" name="phone">
                    <br>
                    <input type="submit" value="Submit" id="submit" onclick="meetPet(event)">
                    <br>
                    <button id="close-schedule-form">Close</button>
                </div>
        </div>
    <div id="initial-list">
        <div class="gallery">
            <div class="gallery-item">
                <h3 class="pet-name"></h3>
                <img class="pet-image" src="" alt="">
                <p class="pet-sum"></p>
            </div>
            <div class="gallery-item">
                <h3 class="pet-name"></h3>
                <img class="pet-image" src="" alt="">
                <p class="pet-sum"></p>
            </div>
            <div class="gallery-item">
                <h3 class="pet-name"></h3>
                <img class="pet-image" src="" alt="">
                <p class=""></p>
            </div>
            <div class="gallery-item">
                <h3 class="pet-name"></h3>
                <img class="pet-image" src="" alt="">
                <p class="pet-sum"></p>
            </div>
            <div class="gallery-item">
                <h3 class="pet-name"></h3>
                <img class="pet-image" src="" alt="">
                <p class="pet-sum"></p>
            </div>
            <div class="gallery-item">
                <h3 class="pet-name"></h3>
                <img class="pet-image" src="" alt="">
                <p class="pet-sum"></p>
            </div>
            <div class="gallery-item">
                <h3 class="pet-name"></h3>
                <img class="pet-image" src="" alt="">
                <p class="pet-sum"></p>
            </div>
            <div class="gallery-item">
                <h3 class="pet-name"></h3>
                <img class="pet-image" src="" alt="">
                <p class="pet-sum"></p>
            </div>
            <div class="gallery-item">
                <h3 class="pet-name"></h3>
                <img class="pet-image" src="" alt="">
                <p class="pet-sum"></p>
            </div>
            <div class="gallery-item">
                <h3 class="pet-name"></h3>
                <img class="pet-image" src="" alt="">
                <p class="pet-sum"></p>
            </div>
        </div>
    </div>

    <div id="added-list" class="inactive">
        <div class="gallery">
            <div class="gallery-item">
            <h3 class="pet-name"></h3>
            <img class="pet-image" src="" alt="">
            <p class="pet-sum"></p>
        </div>
        <div class="gallery-item">
            <h3 class="pet-name"></h3>
            <img class="pet-image" src="" alt="">
            <p class="pet-sum"></p>
        </div>
        <div class="gallery-item">
            <h3 class="pet-name"></h3>
            <img class="pet-image" src="" alt="">
            <p class=""></p>
        </div>
        <div class="gallery-item">
            <h3 class="pet-name"></h3>
            <img class="pet-image" src="" alt="">
            <p class="pet-sum"></p>
        </div>
        <div class="gallery-item">
            <h3 class="pet-name"></h3>
            <img class="pet-image" src="" alt="">
            <p class="pet-sum"></p>
        </div>
        <div class="gallery-item">
            <h3 class="pet-name"></h3>
            <img class="pet-image" src="" alt="">
            <p class="pet-sum"></p>
        </div>
        <div class="gallery-item">
            <h3 class="pet-name"></h3>
            <img class="pet-image" src="" alt="">
            <p class="pet-sum"></p>
        </div>
        <div class="gallery-item">
            <h3 class="pet-name"></h3>
            <img class="pet-image" src="" alt="">
            <p class="pet-sum"></p>
        </div>
        <div class="gallery-item">
            <h3 class="pet-name"></h3>
            <img class="pet-image" src="" alt="">
            <p class="pet-sum"></p>
        </div>
        <div class="gallery-item">
            <h3 class="pet-name"></h3>
            <img class="pet-image" src="" alt="">
            <p class="pet-sum"></p>
        </div>
        </div>
    </div>

    <button id="more-pets" class="see-more active" onclick="openTab()">See More </button>  

    <script src="../../static/js/script.js"></script>
</body>
</html>
