<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../static/css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=McLaren&display=swap" rel="stylesheet">
        <script src="../../static/js/script.js"></script>
    </head>
    <body>
        <div id="webname">
            <h2>Pawfect Match</h2>
           
        </div>
        <div>
            <nav>
                <ul>
                    <li><a class="current-tab" href="home.html">Main Page</a></li>
                    <li><a href="gallery.html">Look for your pet!</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="quiz.html">Find your Best Furiend</a></li>
                </ul>
            </nav>
        </div>
</html>
