<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../../static/css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=McLaren&display=swap" rel="stylesheet">
        <script src="../../static/js/script.js"></script>
        <script src="https://kit.fontawesome.com/64f98c8be8.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="webname">
            <h2>Pawfect Match</h2>
           
        </div>
        <div>
            <nav>
                <ul>
                    <li><a class="current-tab" href="home.html">Main Page</a></li>
                    <li><a href="gallery.html">Look for your pet!</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="quiz.html">Find your Best Furiend</a></li>
                </ul>
            </nav>
        </div>
        <div>
            <h1>Welcome! So glad you stopped by!</h1>
            <p>Here at Pawefect Match, we make sure that the pet you're looking for is the best fit your you and your family. With so many different pets, all with their own personalities, likes, and love to give, we're sure that one will be your match!</p>
        </div>
    <div id="carousel">
        <button class="carousel-left" id="left-arrow"><i class="fa-solid fa-arrow-left"></i></button>
        <div class="content">
            <video controls autoplay muted>
                <source src="../../static/images/two-cute-chihuahua-puppies-by-Devilishly Good.mp4" type="video/mp4">
            </video>
            <img src="../../static/images/parrots-perched-on-wooden-stick-Mateusz.jpg">
            <img src="../../static/images/brown-and-white-cat-on-snow-covered-doorway-Aleksandr Nadyojin.jpg">
            <video controls autoplay muted>
                <source src="../../static/images/a-woman-petting-a-cat-on-a-grooming-table-Tima Miroshnichenko.mp4" type="video/mp4">
            </video>
        </div>
        <button class="carousel-right" id="right-arrow"><i class="fa-solid fa-arrow-right"></i></button>
    </div>
<!--
    <div id="contact">
        <h3>Have issues with the site? To contact us at:</h3>
        <address>
            <p><a href="tel:+4733378901">+47 333 78 901</a></p>
            <p>pawfectmatchsupport@email.com</p>
        </address>
        <br>
        <h3>Check out our socials!</h3>
        <div id="socials">
            <a href="instagram.com"><i class="social-icon fa-brands fa-square-instagram"></i></a>
            <a href="tiktok.com"><i class="social-icon fa-brands fa-tiktok"></i></a>
            <a href="bluesky.com"><i class="social-icon fa-brands fa-square-bluesky"></i></a>
            <a href="facebook.com"><i class="social-icon fa-brands fa-square-facebook"></i></a>

        </div>
    </div>
-->
    </body>
</html>
